<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.davidgoemans.goosewidget"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/icon" android:label="@string/widget_name" android:description="@string/widget_desc">

		<activity
            android:name=".GooseMenu"
            android:label="@string/widget_name"
            android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<receiver android:name=".MedGooseWidget" android:label="@string/widget_name_med">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_goose_med" />
        </receiver>
        
        <receiver android:name=".LargeGooseWidget" android:label="@string/widget_name_large">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_goose_large" />
        </receiver>

        <service android:name=".UpdateService" />
    
    </application>
    
    <uses-sdk android:minSdkVersion="3" />
    <meta-data android:name="android.app.default_searchable" android:value=".LookupActivity" />
    <uses-permission android:name="android.permission.INTERNET" />
    
</manifest> 